@media only screen and (max-width: 1200px) {
  #crm-section,
  #features-section,
  #contact-section,
  #erp-section,
  #pos-section {
    padding: 60px;
  }

  #features-section .features-content,
  #features-section .features-content-reverse {
    gap: 24px;
    flex-direction: column-reverse;
  }
  #features-section .features-content-reverse {
    margin-top: 24px;
  }
  #features-section .features-text,
  #features-section .features-image {
    width: 100%;
    margin: 0 auto;
  }
  .erp-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* để chiều cao theo nội dung */
    grid-column-gap: 0;
    grid-row-gap: 28px; /* giữ khoảng cách dọc */
  }

  /* Reset các vị trí grid-area đã set cho desktop */
  .erp-item {
    width: 100%;
    height: auto; /* tránh mất chiều cao */
    flex: none;
  }
  #erp-1,
  #erp-2,
  #erp-3,
  #erp-4,
  #erp-5,
  #erp-6 {
    grid-row-start: unset;
    grid-column-start: unset;
    grid-row-end: unset;
    grid-column-end: unset;
  }
  #erp-1 .erp-item-header,
  #erp-2 .erp-item-header,
  #erp-3 .erp-item-header,
  #erp-4 .erp-item-header,
  #erp-5 .erp-item-header,
  #erp-6 .erp-item-header {
    padding-bottom: 0;
  }
  #erp-1 img,
  #erp-2 img,
  #erp-3 img,
  #erp-4 img,
  #erp-5 img,
  #erp-6 img {
    margin-top: 40px;
    top: 0%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .crm-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* để chiều cao theo nội dung */
    grid-column-gap: 0;
    grid-row-gap: 28px; /* giữ khoảng cách dọc */
  }
  .crm-item {
    grid-row-start: unset;
    grid-column-start: unset;
    grid-row-end: unset;
    grid-column-end: unset;
    width: 100%;
    height: auto; /* tránh mất chiều cao */
    flex: none;
  }
  #crm-1,
  #crm-2,
  #crm-3,
  #crm-4,
  #crm-5,
  #crm-6 {
    grid-area: unset;
  }
  #crm-1 .crm-item-header,
  #crm-2 .crm-item-header,
  #crm-3 .crm-item-header,
  #crm-4 .crm-item-header,
  #crm-5 .crm-item-header,
  #crm-6 .crm-item-header {
    padding-bottom: 0;
  }
  #crm-1 img,
  #crm-2 img,
  #crm-3 img,
  #crm-4 img,
  #crm-5 img,
  #crm-6 img {
    margin-top: 40px;
    top: 0%;
  }
  .pos-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* để chiều cao theo nội dung */
    grid-column-gap: 0;
    grid-row-gap: 28px; /* giữ khoảng cách dọc */
  }
  .pos-item {
    grid-row-start: unset;
    grid-column-start: unset;
    grid-row-end: unset;
    grid-column-end: unset;
    width: 100%;
    height: auto; /* tránh mất chiều cao */
    flex: none;
  }
  #pos-1,
  #pos-2,
  #pos-3,
  #pos-4,
  #pos-5 {
    grid-area: unset;
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 876px) {
  #crm-section,
  #pos-section,
  #features-section,
  #contact-section,
  #erp-section {
    padding: 60px 32px;
  }
}
@media only screen and (max-width: 768px) {
  #features-section .features-header {
    margin-bottom: 24px;
  }
  #features-section .features-header .features-title {
    text-align: center;
    font-size: var(--Heading-H3-fontSize, 24px);
  }
  #features-section .features-header .features-subtitle {
    text-align: center;
    font-size: var(--Body-Body-1-fontSize, 17px);
  }
  #features-section .content-title {
    font-size: var(--Heading-H4-fontSize, 20px);
  }
  #features-section .content-sub-title {
    font-size: var(--Body-Body-3-fontSize, 13px);
  }
  #features-section .features-item {
    align-items: flex-start;
  }
  #features-section .item-content h2 {
    font-size: var(--Heading-H4-fontSize, 20px);
    font-weight: var(--Weights-Bold, 700);
    line-height: var(--Heading-H4-lineHeight, 24px); /* 120% */
    letter-spacing: var(--Heading-H4-letterSpacing, -0.2px);
  }
  #features-section .item-content p {
    font-size: var(--Body-Body-1-fontSize, 15px);
    font-weight: var(--Weights-Regular, 400);
    line-height: var(--Body-Body-2-lineHeight, 22px); /* 146.667% */
    letter-spacing: var(--Body-Body-2-letterSpacing, 0);
  }
  #features-section .features-items {
    gap: 16px;
  }

  /*Contact section*/

  #contact-section .contact-header h2 {
    font-size: var(--Heading-H1-fontSize, 28px);
    line-height: var(--Heading-H1-lineHeight, 32px); /* 114.286% */
    letter-spacing: var(--Heading-H1-letterSpacing, -0.56px);
  }
  #contact-section .contact-header p {
    margin-bottom: 28px;
    font-size: var(--Body-Body-2-fontSize, 15px);
    line-height: var(--Body-Body-2-lineHeight, 22px); /* 146.667% */
    letter-spacing: var(--Body-Body-2-letterSpacing, 0);
  }
  #contact-section .contact-container {
    flex-direction: column;
    padding: 24px;
  }
  #contact-section .item-title {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    color: var(--neutral-700, #404040);
    font-size: var(--Body-Body-1-fontSize, 17px);
    line-height: var(--Body-Body-1-lineHeight, 28px); /* 164.706% */
    letter-spacing: var(--Body-Body-1-letterSpacing, 0);
  }
  #contact-section .contact-info,
  #contact-section .contact-container .contact-form {
    width: 100%;
  }
  /*ERP*/

  .erp-content {
    margin-top: 98px;
  }
  .erp-item-header h2 {
    font-size: var(--Heading-H4-fontSize, 20px);
    margin-bottom: 12px;
  }
  .erp-item-header p {
    font-size: var(--Body-Body-2-fontSize, 15px);
    opacity: 0.9;
  }
  /*CRM*/

  .crm-content {
    margin-top: 98px;
  }
  .crm-item-header h2 {
    font-size: var(--Heading-H4-fontSize, 20px);
    margin-bottom: 12px;
  }
  .crm-item-header p {
    font-size: var(--Body-Body-2-fontSize, 15px);
    opacity: 0.9;
  }

  /*POS*/

  .pos-content {
    margin-top: 98px;
  }
  .pos-item-header h2 {
    font-size: var(--Heading-H4-fontSize, 20px);
    margin-bottom: 12px;
  }
  .pos-item-header p {
    font-size: var(--Body-Body-2-fontSize, 15px);
    opacity: 0.9;
  }
}
@media only screen and (max-width: 576px) {
  #crm-section,
  #pos-section,
  #features-section,
  #contact-section,
  #erp-section {
    padding: 48px 16px;
  }
}
@media only screen and (max-width: 438px) {
}
